<html>



<head>
    <title>Home</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta http-equiv="imagetoolbar" content="no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="assets/resources/css/jquery-ui-themes.css" type="text/css" rel="stylesheet">
    <link href="assets/resources/css/axure_rp_page.css" type="text/css" rel="stylesheet">
    <link href="assets/Home_files/axurerp_pagespecificstyles.css" type="text/css" rel="stylesheet">
<!--[if IE 6]>
    <link href="assets/Home_files/axurerp_pagespecificstyles_ie6.css" type="text/css" rel="stylesheet">
<![endif]-->
    <script src="assets/data/sitemap.js"></script>
    <script src="assets/resources/scripts/jquery-1.7.1.min.js"></script>
    <script src="assets/resources/scripts/axutils.js"></script>
    <script src="assets/resources/scripts/jquery-ui-1.8.10.custom.min.js"></script>
    <script src="assets/resources/scripts/axurerp_beforepagescript.js"></script>
    <script src="assets/resources/scripts/messagecenter.js"></script>
<script src='assets/Home_files/data.js'></script>


    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <script src="@routes.Assets.at("javascripts/ghmodel.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/ghwidgets.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/ghcontroller.js")" type="text/javascript"></script>

   <script>
       var data = [
       {"value":100.0,"objectType":"circle","id":0,"name":"Angola","time":"1949-12-31 12:00:56","filter":"#population","color":"#FF0000","userData":"","lat":-11.20269,"lng":17.87389},
       {"value":200.0,"objectType":"circle","id":0,"name":"Angola","time":"1950-12-31 12:00:56","filter":"#population","color":"#FF0000","userData":"","lat":-11.20269,"lng":17.87389},
       {"value":300.0,"objectType":"circle","id":0,"name":"Angola","time":"1951-12-31 12:00:56","filter":"#population","color":"#FF0000","userData":"","lat":-11.20269,"lng":17.87389},
       {"value":400.0,"objectType":"circle","id":0,"name":"Angola","time":"1952-12-31 12:00:56","filter":"#population","color":"#FF0000","userData":"","lat":-11.20269,"lng":17.87389},
       {"value":500.0,"objectType":"circle","id":0,"name":"Angola","time":"1953-12-31 12:00:56","filter":"#population","color":"#FF0000","userData":"","lat":-11.20269,"lng":17.87389},
       {"value":700.0,"objectType":"circle","id":0,"name":"Angola","time":"1954-12-31 12:00:56","filter":"#population","color":"#FF0000","userData":"","lat":-11.20269,"lng":17.87389},
       {"value":1000.0,"objectType":"circle","id":0,"name":"Angola","time":"1955-12-31 12:00:56","filter":"#population","color":"#FF0000","userData":"","lat":-11.20269,"lng":17.87389},
       {"value":500.0,"objectType":"circle","id":0,"name":"Angola","time":"1956-12-31 12:00:56","filter":"#population","color":"#FF0000","userData":"","lat":-11.20269,"lng":17.87389},
       {"value":1000.0,"objectType":"circle","id":0,"name":"Angola","time":"1957-12-31 12:00:56","filter":"#population","color":"#FF0000","userData":"","lat":-11.20269,"lng":17.87389},
       {"value":2500.0,"objectType":"circle","id":0,"name":"Angola","time":"1958-12-31 12:00:56","filter":"#population","color":"#FF0000","userData":"","lat":-11.20269,"lng":17.87389},
       {"value":4816.0,"objectType":"circle","id":0,"name":"Angola","time":"1959-12-31 12:00:56","filter":"#population","color":"#FF0000","userData":"","lat":-11.20269,"lng":17.87389},
       {"value":4884.19,"objectType":"circle","id":0,"name":"Beta","time":"1960-12-31 12:00:56","filter":"#population","color":"#FF0000","userData":"","lat":-11.50269,"lng":17.87389}
       ];
       ghModel.parse(data);


       // This example creates circles on the map, representing
       // populations in the United States.

       var startPosition = new google.maps.LatLng(-11.20269, 17.87389);


       function initialize() {

       var map = new google.maps.Map(document.getElementById('map-canvas'), {
       zoom: 10,
       center: startPosition
       });

       // POLYGON
       var triangleCoords = [
       new google.maps.LatLng(59.322506, 18.010025),
       new google.maps.LatLng(59.323506, 18.010025),
       new google.maps.LatLng(59.322506, 18.020025),
       new google.maps.LatLng(59.322506, 18.010025)
       ];
       var bermudaTriangle = new google.maps.Polygon({
       paths: triangleCoords,
       strokeColor: '#FF0000',
       strokeOpacity: 0.8,
       strokeWeight: 2,
       fillColor: '#FF0000',
       fillOpacity: 0.35
       });

       bermudaTriangle.setMap(map);

       // MARKER
       var marker = new google.maps.Marker({
       position: startPosition,
       map: map,
       title: 'Hello World!'
       });

       initGHView(map);

       setInterval(function(){
       updateGH(0.03);
       },30);
       }

       google.maps.event.addDomListener(window, 'load', initialize);
   </script>

</head>
<body>
<div id="main_container">

<div id="u0" class="u0_container"   >
<div id="u0_img" class="u0_normal detectCanvas"></div>
<div id="u1" class="u1" style="visibility:hidden;"  >
<div id="u1_rtf"></div>
</div>
</div>
<div id="u2" class="u2_container"   >
<div id="u2_img" class="u2_normal detectCanvas"></div>
<div id="u3" class="u3" style="visibility:hidden;"  >
<div id="u3_rtf"></div>
</div>
</div>
<div id="u4" class="u4"  >
<div id="u4_rtf"><p style="text-align:left;"><span style="font-family:Tahoma;font-size:10px;font-weight:normal;font-style:normal;text-decoration:none;color:#D0FEFF;">Масштаб</span></p><p style="text-align:left;"><span style="font-family:Tahoma;font-size:10px;font-weight:normal;font-style:normal;text-decoration:none;color:#D0FEFF;">времени:</span></p></div>
</div>
<div id="u5" class="u5_container"   >
<div id="u5_img" class="u5_normal detectCanvas"></div>
<div id="u6" class="u6" style="visibility:hidden;"  >
<div id="u6_rtf"></div>
</div>
</div>
<DIV id="u7" style="" data-label="PanelPlay">
<DIV id="pd1u7" style="visibility:hidden;" data-label="Play">
<div id="u8" class="u8_container"   data-label="PlayButton">
<div id="u8_img" class="u8_normal detectCanvas"></div>
<div id="u9" class="u9" style="visibility:hidden;"  >
<div id="u9_rtf"></div>
</div>
</div>
</DIV>
<DIV id="pd0u7" style="" data-label="Stop">
<div id="u10" class="u10_container"   data-label="StopButton">
<div id="u10_img" class="u10_normal detectCanvas"></div>
<div id="u11" class="u11" style="visibility:hidden;"  >
<div id="u11_rtf"></div>
</div>
</div>
</DIV>
</DIV>
<DIV id="u12" style="" data-label="SliderBack">
<DIV id="pd0u12" style="" data-label="State1">
<div id="u13" class="u13_container"   data-label="SliderLine">
<div id="u13_img" class="u13_normal detectCanvas"></div>
<div id="u14" class="u14" style="visibility:hidden;"  >
<div id="u14_rtf"></div>
</div>
</div>
</DIV>
</DIV>
<div id="u15" class="u15_container"   >
<div id="u15_img" class="u15_normal detectCanvas"></div>
<div id="u16" class="u16" style="visibility:hidden;"  >
<div id="u16_rtf"></div>
</div>
</div>
<div id="u17" class="u17_container"   >
<div id="u17_img" class="u17_normal detectCanvas"></div>
<div id="u18" class="u18" style="visibility:hidden;"  >
<div id="u18_rtf"></div>
</div>
</div>
<div id="u19" class="u19_container"   >
<div id="u19_img" class="u19_normal detectCanvas"></div>
<div id="u20" class="u20" style="visibility:hidden;"  >
<div id="u20_rtf"></div>
</div>
</div>
<div id="u21" class="u21_container"   >
<div id="u21_img" class="u21_normal detectCanvas"></div>
<div id="u22" class="u22" style="visibility:hidden;"  >
<div id="u22_rtf"></div>
</div>
</div>
<div id="u23" class="u23_container"   >
<div id="u23_img" class="u23_normal detectCanvas"></div>
<div id="u24" class="u24" style="visibility:hidden;"  >
<div id="u24_rtf"></div>
</div>
</div>
<div id="u25" class="u25_container"   >
<div id="u25_img" class="u25_normal detectCanvas"></div>
<div id="u26" class="u26" style="visibility:hidden;"  >
<div id="u26_rtf"></div>
</div>
</div>
<div id="u27" class="u27_container"   >
<div id="u27_img" class="u27_normal detectCanvas"></div>
<div id="u28" class="u28" style="visibility:hidden;"  >
<div id="u28_rtf"></div>
</div>
</div>
<div id="u29" class="u29"  >
<div id="u29_rtf"><p style="text-align:left;"><span style="font-family:Tahoma;font-size:28px;font-weight:normal;font-style:normal;text-decoration:none;color:#D0FEFF;">2300</span></p></div>
</div>
<div id="u30" class="u30_container"   >
<div id="u30_img" class="u30_normal detectCanvas"></div>
<div id="u31" class="u31" style="visibility:hidden;"  >
<div id="u31_rtf"></div>
</div>
</div>
<DIV id="u32" style="" data-label="TimeScale">
<DIV id="pd0u32" style="" data-label="Scale">
<div id="u33" class="u33_container"   >
<div id="u33_img" class="u33_normal detectCanvas"></div>
<div id="u34" class="u34" style="visibility:hidden;"  >
<div id="u34_rtf"></div>
</div>
</div>
<div id="u35" class="u35_container"   >
<div id="u35_img" class="u35_normal detectCanvas"></div>
<div id="u36" class="u36" style="visibility:hidden;"  >
<div id="u36_rtf"></div>
</div>
</div>
</DIV>
</DIV>
<div id="u37" class="u37"  >
<div id="u37_rtf"><p style="text-align:left;"><span style="font-family:Tahoma;font-size:12px;font-weight:normal;font-style:normal;text-decoration:none;color:#D0FEFF;">год</span></p></div>
</div>
<div id="u38" class="u38"  >
<div id="u38_rtf"><p style="text-align:left;"><span style="font-family:Tahoma;font-size:12px;font-weight:normal;font-style:normal;text-decoration:none;color:#D0FEFF;">месяц</span></p></div>
</div>
<div id="u39" class="u39"  >
<div id="u39_rtf"><p style="text-align:left;"><span style="font-family:Tahoma;font-size:12px;font-weight:normal;font-style:normal;text-decoration:none;color:#D0FEFF;">день</span></p></div>
</div>
<div id="u40" class="u40"  >
<div id="u40_rtf"><p style="text-align:left;"><span style="font-family:Tahoma;font-size:12px;font-weight:normal;font-style:normal;text-decoration:none;color:#D0FEFF;">100 лет</span></p></div>
</div>
<div id="u41" class="u41"  >
<div id="u41_rtf"><p style="text-align:left;"><span style="font-family:Tahoma;font-size:12px;font-weight:normal;font-style:normal;text-decoration:none;color:#D0FEFF;">1000 лет</span></p></div>
</div>
<div id="u42" class="u42"  >
<div id="u42_rtf"><p style="text-align:left;"><span style="font-family:Tahoma;font-size:28px;font-weight:normal;font-style:normal;text-decoration:none;color:#D0FEFF;">1500</span></p></div>
</div>
<div id="u43" class="u43_container"   >
<div id="u43_img" class="u43_normal detectCanvas"></div>
<div id="u44" class="u44" style="visibility:hidden;"  >
<div id="u44_rtf"></div>
</div>
</div>
<DIV id="u45" style="" data-label="EndZoneFinish">
<DIV id="pd0u45" style="" data-label="State1">
</DIV>
</DIV>
<DIV id="u46" style="" data-label="EndZoneStart">
<DIV id="pd0u46" style="" data-label="State1">
</DIV>
</DIV>
<DIV id="u47" style="" >
<DIV id="pd0u47" style="" data-label="State1">
<div id="u48" class="u48_container"   >
<div id="u48_img" class="u48_normal detectCanvas"></div>
<div id="u49" class="u49" style="visibility:hidden;"  >
<div id="u49_rtf"></div>
</div>
</div>
</DIV>
</DIV>
<DIV id="u50" style="" data-label="Slider">
<DIV id="pd0u50" style="" data-label="Slider">
<div id="u51" class="u51_container"   data-label="SliderPick">
<div id="u51_img" class="u51_normal detectCanvas"></div>
<div id="u52" class="u52" style="visibility:hidden;"  >
<div id="u52_rtf"></div>
</div>
</div>
<div id="u53" class="u53"  data-label="CurrentDate">
<div id="u53_rtf"><p style="text-align:left;"><span style="font-family:Tahoma;font-size:36px;font-weight:normal;font-style:normal;text-decoration:none;color:#D0FEFF;">1598</span></p></div>
</div>
<div id="u54" class="u54_container"   >
<div id="u54_img" class="u54_normal detectCanvas"></div>
<div id="u55" class="u55" style="visibility:hidden;"  >
<div id="u55_rtf"></div>
</div>
</div>
</DIV>
</DIV>
<DIV id="u56" style="" data-label="SliderZone">
<DIV id="pd0u56" style="" data-label="State1">
</DIV>
</DIV>
    <div id="map-canvas"></div>
    <div id="u57" class="u57_container"   data-label="MapLayerSample">
        <div id="u57_img" class="u57_normal detectCanvas"></div>
    </div>
</div>
<div class="preload"><img src="assets/Home_files/u0_normal.png" width="1" height="1"/><img src="assets/Home_files/u2_normal.png" width="1" height="1"/><img src="assets/Home_files/u5_normal.png" width="1" height="1"/><img src="assets/Home_files/PlayButton_u8_normal.png" width="1" height="1"/><img src="assets/Home_files/StopButton_u10_normal.png" width="1" height="1"/><img src="assets/Home_files/SliderLine_u13_normal.png" width="1" height="1"/><img src="assets/Home_files/u15_normal.png" width="1" height="1"/><img src="assets/Home_files/u30_normal.png" width="1" height="1"/><img src="assets/Home_files/u33_normal.png" width="1" height="1"/><img src="assets/Home_files/u48_normal.png" width="1" height="1"/><img src="assets/Home_files/SliderPick_u51_normal.png" width="1" height="1"/><img src="assets/Home_files/MapLayerSample_u57_normal.png" width="1" height="1"/></div>
</body>
<script src="assets/resources/scripts/axurerp_pagescript.js"></script>
<script src="assets/Home_files/axurerp_pagespecificscript.js" charset="utf-8"></script>